<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunting.mapper.PolyphonicSettingMapper">

    <resultMap id="PolyphonicSettingResultMap" type="com.yunting.model.PolyphonicSetting">
        <id property="polyphonicId" column="polyphonic_id"/>
        <result property="breakingSentenceId" column="breaking_sentence_id"/>
        <result property="character" column="character"/>
        <result property="position" column="position"/>
        <result property="pronunciation" column="pronunciation"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="selectByBreakingSentenceId" parameterType="long" resultMap="PolyphonicSettingResultMap">
        SELECT *
        FROM polyphonic_settings
        WHERE breaking_sentence_id = #{breakingSentenceId}
        ORDER BY position ASC
    </select>

    <select id="selectByBreakingSentenceIds" resultMap="PolyphonicSettingResultMap">
        SELECT *
        FROM polyphonic_settings
        WHERE breaking_sentence_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY breaking_sentence_id, position ASC
    </select>

    <delete id="deleteByBreakingSentenceId" parameterType="long">
        DELETE FROM polyphonic_settings WHERE breaking_sentence_id = #{breakingSentenceId}
    </delete>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO polyphonic_settings (breaking_sentence_id, character, position, pronunciation, created_at)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.breakingSentenceId}, #{item.character}, #{item.position}, #{item.pronunciation}, NOW())
        </foreach>
    </insert>

</mapper>


